body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    min-height: 100vh; /* Tijelo zauzima cijelu visinu prozora */
    position: relative;
}

.change-pw-form {
    max-width: 400px;
    width: 100%;
    margin-top: 5px;
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(2, 2, 2, 0.8);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sjenka */

    position: absolute; /* Apsolutno pozicioniranje forme */
    top: 50%; /* Centriraj po visini */
    left: 50%; /* Centriraj po širini */
    transform: translate(-50%, -50%);
}

.change-pw-form h2 {
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px; 
    font-size: 35px;
}

.change-pw-form button{
    font-size: 20px;
}

.password-toggle{
    margin-top: -15px;
}