body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    min-height: 100vh; /* Tijelo zauzima cijelu visinu prozora */
    position: relative;
}

.login-form {
    max-width: 400px;
    width: 100%;
    margin-top: -60px;
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(2, 2, 2, 0.8);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sjenka */

    position: absolute; /* Apsolutno pozicioniranje forme */
    top: 50%; /* Centriraj po visini */
    left: 50%; /* Centriraj po širini */
    transform: translate(-50%, -50%);
}

.login-form h2 {
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px; 
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.password-container {
 display: flex;
 align-items: center;
 width: 100%;
}

.password-container input {
    flex: 9;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; 
    font-size: 1rem;
    box-sizing: border-box;
}

.password-toggle {
    flex: 1; /* 10% širine */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0; 
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-top: -9px;
    height: 44px;
    margin-left: 5px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.form-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: white;
}

.form-footer a {
    color: #007bff;
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }