html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Visina najmanje kao prozor preglednika */
  height: auto;
  box-sizing: border-box;

 /* background-image: url('../../hairdressing-salons-frontend/src/assets/hairdresser-cover2 (1).jpg'); */
  background-image: url('/cover\ \(1\).jfif');
  background-size: cover; /* Pokriva cijelu površinu */
  background-position: center;  /* Centrirana slika */
  background-repeat: no-repeat; /* Bez ponavljanja */
  background-attachment: fixed; /* Slika ostaje fiksirana */

  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Osiguraj da glavni kontejner zauzima punu širinu */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  flex: 1; /* Zauzima sav preostali prostor između headera i footera */
  padding-top: 150px;
  padding-bottom: 200px;
}



